
.container,.App{
    display: flex;
}
img {
    width: 200px;
}
.block{
    background-color: #EAE0DA;
    margin-left: 120px;
    padding: 2%;
    margin: 20px;
    flex-basis: 15%;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    padding: 15px 100px;
    font-family: 'Barlow Condensed', sans-serif;
}
.iconCart{
    width: 70px;
    margin-right: -25px;
}
.word{
    font-size: 23px;
    color:#20262E;
}
.categories{
    margin-left: 40px;
    color:#20262E;
    font-size: 25px;
    width: 200px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.categorySelectedButton{
    background-color: #A0C3D2;
    cursor:grab;
}
.categoryButton:hover{
    background-color: #EAE0DA;
}
.cartDelete{
    width: 28px;
    font-family: 'Barlow Condensed', sans-serif;
}
.containerdresses{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 60px;
}
.btn{
    border-radius: 5px;
    border:none;
    background-color:#A0C3D2;
    font-size: 17px;
    color:white;
}
.deleteall{
    margin-left: 40px;
    padding: 7px;
    font-family: 'Barlow Condensed', sans-serif;
}
.addItem{
    margin-top: 10px;
    padding: 5px;
    font-family: 'Barlow Condensed', sans-serif;
}
.button{
    margin-top: 8px;
    border: 1px solid white;
    background-color: #EAC7C7;
    font-size: 15px;
    color: #3C4048;
    font-family: 'Barlow Condensed', sans-serif;
}
h4{
    color: #3C4048;
    font-family: 'Barlow Condensed', sans-serif;
}
.containerAll{
    margin-top: 30px;
    display: flex;
}
nav{
    background-color: #EAC7C7;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
}
.cart{
    margin-left: 60px;
}
.pictureDresses{
    height: 300px;
}
.counterItems{
    color: white;
    background-color: red;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}
.header{
    display: flex;
    justify-content: center;
}
h1{
    color:#A0C3D2;
    font-family: 'Barlow Condensed', sans-serif;
}
.imageMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -300px;
}
.imageHome{
    width: 400px;
}
.itemCart{
    font-family: 'Barlow Condensed', sans-serif;
}

